[Unit]
Description=samba Container

[Install]
WantedBy=multi-user.target

[Service]
PrivateNetwork=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
KillSignal=SIGTERM
SendSIGHUP=true
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/podman stop samba
ExecStartPre=-/usr/bin/podman rm -f samba
ExecStop=/usr/bin/podman stop -t 60 samba
ExecStart=/usr/bin/podman run --security-opt apparmor=unconfined --name samba --network host --rm --hostname localhost -v /srv/samba/config:/etc/samba -v /srv/samba/share:/share --ulimit nofile=4096:8192 __IMAGE__
