[Unit]
Description=MariaDB Container

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/sysconfig/container-mariadb
PrivateNetwork=false
PrivateTmp=true
ProtectSystem=full
KillSignal=SIGTERM
SendSIGKILL=no
Restart=on-abort
RestartSec=5s
ExecStartPre=-/usr/bin/podman stop ${NAME}
ExecStartPre=-/usr/bin/podman rm ${NAME}
ExecStart=/usr/bin/podman run --name ${NAME} --network host --rm --ulimit nofile=4192:16384 -v ${BIND} ${IMAGE}
OOMScoreAdjust=-600
BlockIOWeight=1000
LimitNOFILE=16384
Nice=-5
